.header {
    background-color: #005975;
    padding: 10px 0;
    top: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
margin: 0;
}

.header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header img {
    height: 50px;
    width: auto;
    display: block;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.button-login {
    background-color: #00bff3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.button-login:hover {
    background-color: #0056b3;
}

.container-meio1 {
    background-image: url('imagens/mercado_fundo.PNG');
    background-size: cover;
    background-position: center;
    background-color: #005975;
    padding: 15%;
    text-shadow: 2px 3px 2px #000;
    max-width: 1200px;
    margin: 0;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 10px;
}

.titulo-meio1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 3px 2px #000;
}

.texto-meio1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.container-meio2 {
    background-color: #F5F5DC;
    padding: 15%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

.titulo-funciona {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.topicos-funciona {
    display: flex;
    gap: 20px; 
    margin-top: 20px;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.topico {
    flex: 1; 
    min-width: 250px; 
    background-color: rgba(255, 255, 255, 0.05); 
    padding: 15px;
    border-radius: 5px;
}

.topico h3 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.topico p {
    font-size: 16px;
    margin: 0;
    color: #000;
}

.imagem-meio2{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.imagem-meio2 img{
    width: 180px;
    height: auto;
    display: block;
}


.container-meio3 {
    background-color: #005975;
    padding: 15%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 0px; 
    margin-bottom: 10px; 
}

.titulo-meio3 h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.texto-meio3 ul {
    list-style: disc;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    line-height: 1.6;
}

.footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    height: 70px;
    margin: 0;
}

.container-nos1 {
    margin: 0 auto;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    font-family: "Poppins", sans-serif;
    color: #333;
}

.container-nos1 h3{
    text-align: center;
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
}

.container-nos1 p{
    text-align: justify;
    font-size: 17px;
    margin-bottom: 15px;
}

.texto-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin: 30px 0;
}

.texto-fotos img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    object-fit: cover;
}

.texto-fotos p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 20px;
    color: #444;
}

h1 {
    font-size: 36px;
    color: #005975;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}


.form-container {
    background-color: white;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    max-width: 450px;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

.form-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
}

.form-container h1 {
    font-size: 28px;
    color: #005975;
    text-align: center;
    margin-bottom: 20px;
}


.form-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-content label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.form-content input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.form-content input:focus {
    border-color: #005975;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 89, 117, 0.4);
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #005975;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #003f51;
}