body {
    font-family: Arial, sans-serif;
    background-color: #2596be;
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #FFF;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #08a5bd;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    padding: .5vw .9vw;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: .7vw;
}

button:hover {
    background-color: #005a75e5;
    border: solid 1px;
    border-color: antiquewhite;
    color: none;
    scale: 1.05;
    font-weight: 700;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}