body {
    margin: 0;
}

.body-cadastro {
    background-image: url('../assets/corredor.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.caixa-cadastro{
    width: 70%;
    border: 20px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    font-size: 13px;
    color: #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
}

.pai{
    display: flex;
    justify-content: space-around;
}

.filho{
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
}

h2{
    justify-self: center;
}

input{
    height: 25px;
    width: 90%;
    border-radius: 20px;
    border: 2px #08a4bd solid;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

input::placeholder{
    text-align: center;
}

.button{
    width: 95%;
    height: 40px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: #0b6caf;
    color: white;
    font-weight: bolder;
    padding: 0;
}

.subtitulo{
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 20px;
    justify-items: left;
}

.link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
}

.caixa-login{
    width: 40%;
    border: 20px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    justify-self: center;
    align-self: center;
    font-size: 13px;
    color: #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
}

.filho_login{
    margin-left: 2%;
    margin-right: 2%;
    width: 80%;
    justify-self: center;
}