.caixa-cadastro{
    width: 70%;
    border: 20px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    font-size: 13px;
    color: #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
}

.pai{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.fiho{
    display: flex;
    padding-left: 2%;
    padding-right: 2%; 
    justify-content: center;
}

.caixa-login{
    width: min-content;
    border: 20px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
}

.body-cadastro {
    background-color: #0037FF;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.body-login{
    background-color: #0037FF;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input{
    width: 80%;
    width: 280px;
    border-radius: 20px;
    border: 2px #0346ff solid;
    padding: 5px;
    margin-bottom: 5px;
}

.button{
    width: 80%;
    height: 5%;
    align-self: center;
    justify-self: center;
    min-width: 200px;
    max-width: 300px;
    border-radius: 22px;
    background-color: blue;
    color: white;
    background: -moz-linear-gradient(-45deg, #0037FF, #335FFF, #5E83FF);
}

.subtitulo{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 20px;
}